* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.game-page {
  width: 100%;
  height: 80vh;
  background-color: #F9DBBA;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

button {
  margin-top: 20px;
}

.state-capitals-game-page {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #1A4870;
}

.user-info-page {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #FFEAC5;
}

.country-flag-game-page {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #1F316F;
}

.top-users-page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #D1E9F6;
}

.table-container {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
}

#fira-sans {
  font-family: fira-sans;
}